.flx {
  display: flex;

  @include m(board-container) {
    flex-wrap: wrap;
    width: 100%;
  }

  @include e(col) {
    width: 300px;
    flex-shrink: 0;
    margin-right: 20px;
    height: 100%;
  }

  @include m(algn-ctr) {
    align-items: center;
  }

  @include m(ctr) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
