.main-offset {
  padding-top: 80px;
}

.mt--15 {
  margin-top: 15px;
}

.mt--25 {
  margin-top: 25px;
}

.mt--20 {
  margin-top: 20px;
}

.mr--20 {
  margin-right: 20px;
}

.mb--15 {
  margin-bottom: 15px;
}

.mb--25 {
  margin-bottom: 25px;
}

.ml--15 {
  margin-left: 15px;
}

.ml--auto {
  margin-left: auto;
}

.mr--auto {
  margin-right: auto;
}

.list-input {
  width: 300px;
  align-self: flex-start;
  text-align: left;
}

.createElm {
  @include m(inline) {
    display: flex;
    align-items: center;
    background: $blue-tint;

    .createElm__btn-wrapper {
      margin: 0 0 0 15px;
    }
  }
}

.createElm__btn-wrapper {
  margin-top: 15px;

  > .btn {
    margin-right: 15px;
  }
}

.main-logo {
  width: 200px;
  display: inline-block;
}

.page-offset {
  margin-top: 40px;
}

.board {
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  @include e(content) {
    padding: 5px 15px;
    overflow-x: auto;
  }
}

.clickable {
  cursor: pointer;
}

.ds--in-block {
  display: inline-block;
}
